@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: rgb(73, 80, 87);
  font-family: "Poppins", sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.button {
  background-color: rgb(230, 57, 70);
  border-radius: 5px;
  border: none;
  color: #fff;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
}
.button:hover {
  opacity: 0.8;
  background-color: #fff;
  color: rgb(25, 52, 73);
}
.button:focus {
    outline: none;
}


