:root {
	font-size: 24px;
}

body {
	text-align: center;
	background: red;
	padding-bottom: 30vh;
}

input[type='search'] {
	font-size: 0.8rem;
	margin-bottom: 30px;
}

#list-container {
/*	max-width: 1000px;*/
	margin-left: auto;
	margin-right: auto;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	row-gap: 25px;
	column-gap: 25px;
}

.audio-clip {
	width: fit-content;
}

.label {
	font-size: 0.8rem;
	margin-bottom: 10px;
}