@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #7e7f83;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  overflow: scroll;
  margin: 24px;
}

h1 {
	color: #14110f;
	text-align: center;
    font-size: 64px;
	background-color: #e63946;
	border-radius: 3px;
    border: solid #e8dab2;
	
}

details {
	color: #14110f;
	background-color: #d3d3d3;
	margin-left: 150px;
	margin-bottom: 16px;
	margin-top: 16px;
	margin-right: 150px;
}

summary {
	font-family: "Poppins", sans-serif;
    font-size: 32px;
}

.button {
  background-color: #e63946;
  border-radius: 3px;
  border: solid #e8dab2;
  color: #14110f;
  font-weight: bold;
  margin: 1rem;
  padding: 1.2rem 2.5rem;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
}
.button:hover {
  opacity: 0.8;
  background-color: #fff;
  color: rgb(25, 52, 73);
}
.button:focus {
    outline: none;
}


